

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper{
  border: 3px solid blue;
}
.center, #goBack, #clear {
  margin: auto;
  width: 50%;
  padding: 10px;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.buttins {
  width: 25%;
}
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

table, th, td {
  border: 1px solid;
  padding-bottom: 20px;
}
